## This page documents the collection of voting data for Orange County from Statewidedatabase.org
Raw data was downloaded as .csv files from website.

In [2]:
# imports
import pandas as pd
import requests
import pickle as p
import matplotlib.pyplot as plt

In [3]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

### Understand Vote results files and what demographics are included

In [69]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [8]:
vote = pd.read_csv('./vote_data/c059_g14_sov_data_by_g14_srprec.csv')
vote.shape
# 75 variables, 1700 rows

(1736, 75)

In [9]:
vote.head()

,county,srprec,addist,cddist,sddist,bedist,TOTREG,DEMREG,REPREG,AIPREG,...,SENDEM01,SENDEM02,SENREP01,SENREP02,SOSDEM01,SOSREP01,SPINOP01,SPINOP02,TRSDEM01,TRSREP01
0,30,10316,65,47,29,4,873,0,0,0,...,0,0,0,0,159,260,180,202,194,230
1,30,10317,65,47,29,4,913,0,0,0,...,0,0,0,0,127,136,103,117,135,124
2,30,10319,65,47,29,4,659,0,0,0,...,0,0,0,0,104,180,99,135,128,153
3,30,10320,65,47,29,4,970,0,0,0,...,0,0,0,0,179,311,197,222,231,266
4,30,10322,65,47,29,4,941,0,0,0,...,0,0,0,0,156,216,169,173,181,192

In [10]:
vote.isna().sum()
#good news - no nulls

county      0
srprec      0
addist      0
cddist      0
sddist      0
           ..
SOSREP01    0
SPINOP01    0
SPINOP02    0
TRSDEM01    0
TRSREP01    0
Length: 75, dtype: int64

In [11]:
vote.info()
# most columns are integers, except for SRPREC, which is a categorical label.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1736 entries, 0 to 1735
Data columns (total 75 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   county    1736 non-null   int64
 1   srprec    1736 non-null   object
 2   addist    1736 non-null   int64
 3   cddist    1736 non-null   int64
 4   sddist    1736 non-null   int64
 5   bedist    1736 non-null   int64
 6   TOTREG    1736 non-null   int64
 7   DEMREG    1736 non-null   int64
 8   REPREG    1736 non-null   int64
 9   AIPREG    1736 non-null   int64
 10  GRNREG    1736 non-null   int64
 11  LIBREG    1736 non-null   int64
 12  NLPREG    1736 non-null   int64
 13  REFREG    1736 non-null   int64
 14  DCLREG    1736 non-null   int64
 15  MSCREG    1736 non-null   int64
 16  TOTVOTE   1736 non-null   int64
 17  DEMVOTE   1736 non-null   int64
 18  REPVOTE   1736 non-null   int64
 19  AIPVOTE   1736 non-null   int64
 20  GRNVOTE   1736 non-null   int64
 21  LIBVOTE   1736 non-null   int64
 22  NLPVOTE   1736 non-null   int64
 23  REFVOTE   1736 non-null   int64
 24  DCLVOTE   1736 non-null   int64
 25  MSCVOTE   1736 non-null   int64
 26  PRCVOTE   1736 non-null   int64
 27  ABSVOTE   1736 non-null   int64
 28  ASSAIP01  1736 non-null   int64
 29  ASSDEM01  1736 non-null   int64
 30  ASSDEM02  1736 non-null   int64
 31  ASSIND01  1736 non-null   int64
 32  ASSLIB01  1736 non-null   int64
 33  ASSREP01  1736 non-null   int64
 34  ASSREP02  1736 non-null   int64
 35  ATGDEM01  1736 non-null   int64
 36  ATGREP01  1736 non-null   int64
 37  BOEDEM01  1736 non-null   int64
 38  BOEREP01  1736 non-null   int64
 39  CNGDEM01  1736 non-null   int64
 40  CNGDEM02  1736 non-null   int64
 41  CNGIND01  1736 non-null   int64
 42  CNGPAF01  1736 non-null   int64
 43  CNGREP01  1736 non-null   int64
 44  CNGREP02  1736 non-null   int64
 45  CONDEM01  1736 non-null   int64
 46  CONREP01  1736 non-null   int64
 47  GOVDEM01  1736 non-null   int64
 48  GOVREP01  1736 non-null   int64
 49  INSDEM01  1736 non-null   int64
 50  INSREP01  1736 non-null   int64
 51  LTGDEM01  1736 non-null   int64
 52  LTGREP01  1736 non-null   int64
 53  PR_1_N    1736 non-null   int64
 54  PR_1_Y    1736 non-null   int64
 55  PR_2_N    1736 non-null   int64
 56  PR_2_Y    1736 non-null   int64
 57  PR_45_N   1736 non-null   int64
 58  PR_45_Y   1736 non-null   int64
 59  PR_46_N   1736 non-null   int64
 60  PR_46_Y   1736 non-null   int64
 61  PR_47_N   1736 non-null   int64
 62  PR_47_Y   1736 non-null   int64
 63  PR_48_N   1736 non-null   int64
 64  PR_48_Y   1736 non-null   int64
 65  SENDEM01  1736 non-null   int64
 66  SENDEM02  1736 non-null   int64
 67  SENREP01  1736 non-null   int64
 68  SENREP02  1736 non-null   int64
 69  SOSDEM01  1736 non-null   int64
 70  SOSREP01  1736 non-null   int64
 71  SPINOP01  1736 non-null   int64
 72  SPINOP02  1736 non-null   int64
 73  TRSDEM01  1736 non-null   int64
 74  TRSREP01  1736 non-null   int64
dtypes: int64(74), object(1)
memory usage: 1017.3+ KB

In [12]:
reg = pd.read_csv('./vote_data/c059_g14_voters_by_g14_srprec.csv')
reg.shape
# 140 variables, 1661 rows

(1661, 140)

In [13]:
reg.head()

,election,type,srprec,totreg_r,dem,rep,aip,paf,msc,lib,...,ireg9g,oreg1g,oreg2g,oreg3g,oreg4g,oreg5g,oreg6g,oreg7g,oreg8g,oreg9g
0,g14,V,10316,454,141,234,4,0,0,4,...,13,2,2,0,0,1,1,1,0,2
1,g14,V,10317,268,116,94,8,1,4,0,...,7,5,1,2,0,1,3,0,0,1
2,g14,V,10319,297,93,149,6,0,1,0,...,6,2,2,2,1,0,0,0,0,2
3,g14,V,10320,502,141,245,8,0,1,2,...,22,3,2,2,0,0,2,0,0,4
4,g14,V,10322,384,140,151,13,1,0,2,...,12,6,2,3,2,1,1,1,0,1

In [18]:
reg.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1661 entries, 0 to 1660
Data columns (total 140 columns):
 #   Column    Dtype
---  ------    -----
 0   election  object
 1   type      object
 2   srprec    int64
 3   totreg_r  int64
 4   dem       int64
 5   rep       int64
 6   aip       int64
 7   paf       int64
 8   msc       int64
 9   lib       int64
 10  nlp       int64
 11  grn       int64
 12  ref       int64
 13  dcl       int64
 14  male      int64
 15  female    int64
 16  hispdem   int64
 17  hisprep   int64
 18  hispdcl   int64
 19  hispoth   int64
 20  jewdem    int64
 21  jewrep    int64
 22  jewdcl    int64
 23  jewoth    int64
 24  kordem    int64
 25  korrep    int64
 26  kordcl    int64
 27  koroth    int64
 28  jpndem    int64
 29  jpnrep    int64
 30  jpndcl    int64
 31  jpnoth    int64
 32  chidem    int64
 33  chirep    int64
 34  chidcl    int64
 35  chioth    int64
 36  inddem    int64
 37  indrep    int64
 38  inddcl    int64
 39  indoth    int64
 40  vietdem   int64
 41  vietrep   int64
 42  vietdcl   int64
 43  vietoth   int64
 44  fildem    int64
 45  filrep    int64
 46  fildcl    int64
 47  filoth    int64
 48  demmunk   int64
 49  demm1824  int64
 50  demm2534  int64
 51  demm3544  int64
 52  demm4554  int64
 53  demm5564  int64
 54  demm65pl  int64
 55  demfunk   int64
 56  demf1824  int64
 57  demf2534  int64
 58  demf3544  int64
 59  demf4554  int64
 60  demf5564  int64
 61  demf65pl  int64
 62  repmunk   int64
 63  repm1824  int64
 64  repm2534  int64
 65  repm3544  int64
 66  repm4554  int64
 67  repm5564  int64
 68  repm65pl  int64
 69  repfunk   int64
 70  repf1824  int64
 71  repf2534  int64
 72  repf3544  int64
 73  repf4554  int64
 74  repf5564  int64
 75  repf65pl  int64
 76  dclmunk   int64
 77  dclm1824  int64
 78  dclm2534  int64
 79  dclm3544  int64
 80  dclm4554  int64
 81  dclm5564  int64
 82  dclm65pl  int64
 83  dclfunk   int64
 84  dclf1824  int64
 85  dclf2534  int64
 86  dclf3544  int64
 87  dclf4554  int64
 88  dclf5564  int64
 89  dclf65pl  int64
 90  othmunk   int64
 91  othm1824  int64
 92  othm2534  int64
 93  othm3544  int64
 94  othm4554  int64
 95  othm5564  int64
 96  othm65pl  int64
 97  othfunk   int64
 98  othf1824  int64
 99  othf2534  int64
 100 othf3544  int64
 101 othf4554  int64
 102 othf5564  int64
 103 othf65pl  int64
 104 dreg1g    int64
 105 dreg2g    int64
 106 dreg3g    int64
 107 dreg4g    int64
 108 dreg5g    int64
 109 dreg6g    int64
 110 dreg7g    int64
 111 dreg8g    int64
 112 dreg9g    int64
 113 rreg1g    int64
 114 rreg2g    int64
 115 rreg3g    int64
 116 rreg4g    int64
 117 rreg5g    int64
 118 rreg6g    int64
 119 rreg7g    int64
 120 rreg8g    int64
 121 rreg9g    int64
 122 ireg1g    int64
 123 ireg2g    int64
 124 ireg3g    int64
 125 ireg4g    int64
 126 ireg5g    int64
 127 ireg6g    int64
 128 ireg7g    int64
 129 ireg8g    int64
 130 ireg9g    int64
 131 oreg1g    int64
 132 oreg2g    int64
 133 oreg3g    int64
 134 oreg4g    int64
 135 oreg5g    int64
 136 oreg6g    int64
 137 oreg7g    int64
 138 oreg8g    int64
 139 oreg9g    int64
dtypes: int64(138), object(2)
memory usage: 1.8+ MB