In [2]:
# imports
import pandas as pd
import requests
import pickle as p
import matplotlib.pyplot as plt

In [2]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

### Mapping scratch pad:

helpful Tableau tutorial video:  https://www.youtube.com/watch?v=tr51B8ZKAq8
- geometry:field, name:detail, data:color

In [3]:
#stack
# !pip install simpledbf
import simpledbf
from simpledbf import Dbf5

In [4]:
#look at geo files from SWDB and see what's in there:
dbf = Dbf5('2011_congressional_state_equiv.dbf')
df = dbf.to_dataframe()

# ?? uses census reference id's?  not geographic coordinates.

In [5]:
df.head()

             BLOCK DISTRICTID
0  060650432722072         42
1  060650432722026         42
2  060650432722070         42
3  060650432722071         42
4  060650432722025         42

In [6]:
df.shape

(710144, 2)

In [7]:
x = df['DISTRICTID'].value_counts()
len(x)

53

In [8]:
df['BLOCK'].value_counts()[:10]

060014507442023    1
060690003002021    1
061110071002013    1
061130115005030    1
060374321022011    1
060570005011004    1
060190012011037    1
060730085091009    1
060770051062048    1
061130111021017    1
Name: BLOCK, dtype: int64

In [9]:
df.groupby('DISTRICTID').count().tail()
#53 congressional districts in 2011

            BLOCK
DISTRICTID
49           9993
50          13137
51          15763
52           8717
53           7899

In [10]:
x = df.loc[df['DISTRICTID'] == '53']
x[:10]

                 BLOCK DISTRICTID
10016  060730001001016         53
10017  060730001001006         53
10018  060730001001000         53
10019  060730001001017         53
10020  060730001001018         53
10021  060730001001030         53
10022  060730001001008         53
10023  060730001001004         53
10024  060730001001001         53
10025  060730001001003         53

In [11]:
x.shape   #7899 blocks in Dist53

(7899, 2)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710144 entries, 0 to 710143
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BLOCK       710144 non-null  object
 1   DISTRICTID  710144 non-null  object
dtypes: object(2)
memory usage: 10.8+ MB

In [13]:
# pandas documentation
# s.str.slice(start=0, stop=5, step=3)
# s.stri.slice[0:5:3]
df['state'] = df['BLOCK'].str.slice(stop=2)
df['county'] = df['BLOCK'].str.slice(start=2, stop=5)
df['tract'] = df['BLOCK'].str.slice(start=5, stop=11)
df['block'] = df['BLOCK'].str.slice(start=11, stop=15)

In [14]:
w = df.loc[df['DISTRICTID'] == '53']
w[:10]
# df.drop(columns=['tracts'])

                 BLOCK DISTRICTID state county   tract block
10016  060730001001016         53    06    073  000100  1016
10017  060730001001006         53    06    073  000100  1006
10018  060730001001000         53    06    073  000100  1000
10019  060730001001017         53    06    073  000100  1017
10020  060730001001018         53    06    073  000100  1018
10021  060730001001030         53    06    073  000100  1030
10022  060730001001008         53    06    073  000100  1008
10023  060730001001004         53    06    073  000100  1004
10024  060730001001001         53    06    073  000100  1001
10025  060730001001003         53    06    073  000100  1003

In [15]:
df[:10]

             BLOCK DISTRICTID state county   tract block
0  060650432722072         42    06    065  043272  2072
1  060650432722026         42    06    065  043272  2026
2  060650432722070         42    06    065  043272  2070
3  060650432722071         42    06    065  043272  2071
4  060650432722025         42    06    065  043272  2025
5  060650432722027         42    06    065  043272  2027
6  060650464011053         42    06    065  046401  1053
7  060650432722017         42    06    065  043272  2017
8  060650464011052         42    06    065  046401  1052
9  060650464011058         42    06    065  046401  1058

In [16]:
df.loc[df['county'] == '065'].nunique()

BLOCK         35718
DISTRICTID        4
state             1
county            1
tract           453
block          2003
dtype: int64

### Srprec <> Census block/tract -- explore

In [4]:
xlate = pd.read_csv('./Orange_County_Voting_Trends/map_files/c059_g12_sr_blk_map.csv')
xlate.shape

(23490, 8)

In [5]:
xlate.tail()

,srprec,tract,block,blkreg,srtotreg,pctsrprec,blktotreg,pctblk
23485,75602,75809,2007,604,1437,42.032011,613,98.531811
23486,75602,75814,2003,14,1437,0.974252,14,100.000000
23487,75602,75814,2016,2,1437,0.139179,2,100.000000
23488,75602,75814,2017,28,1437,1.948504,28,100.000000
23489,75901,75809,2007,9,9,100.000000,613,1.468189

In [6]:
xlate['tract'].nunique()
#582 census tracts in g12 data set.

582

In [7]:
xlate['srprec'].nunique()
#1877 srprec's

1877

In [8]:
xlate['block'].nunique()

558

In [9]:
xlate['tract'].value_counts()

63500    235
62800    178
62702    141
52420    138
62604    132
        ...
63008      6
99502      6
21813      5
52518      4
52404      2
Name: tract, Length: 582, dtype: int64

In [10]:
xlate['block'].value_counts()

2001    468
2002    461
2003    449
2004    434
2000    423
       ...
7015      1
9008      1
2165      1
2133      1
6053      1
Name: block, Length: 558, dtype: int64

In [11]:
xlate['srprec'].value_counts()

2193     74
53355    58
68296    57
13377    56
68098    55
         ..
2434      1
69902     1
5379      1
44123     1
56383     1
Name: srprec, Length: 1877, dtype: int64