# 11_mapping_test
### This page is for constructing dataframes that can be loaded into Tableau

In [49]:
# imports
import pandas as pd
import requests
import pickle as p
import matplotlib.pyplot as plt

In [50]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [51]:
#precints18 URL:  https://public.tableau.com/profile/neva7752#!/vizhome/srprec_g12_cty059/srprec2018?publish=yes
#URL mentions g12, but map is for 2018 precints

### Test:  Load one column of agg data

In [52]:
map1 = pd.read_pickle('./data/combined18.pkl')
map1.shape

(1334, 23)

In [43]:
map1.head()

,srprec_orig,subindex,pctsrprec_tract,hh_med_inc_wgt,county,srprec,cddist,TOTREG,TOTVOTE,CNGDEM01,...,dem,rep,dcl,male,female,hispdem,hisprep,hispdcl,hispoth,_merge
0,2001.0,3.0,100.0,54480.48,30,2001,46,684,381,249,...,161.0,106.0,83.0,173.0,198.0,106.0,20.0,56.0,7.0,both
1,2002.0,0.0,100.0,44136.00,30,2002,46,295,123,100,...,61.0,8.0,39.0,46.0,63.0,52.0,0.0,23.0,0.0,both
2,2008.0,0.0,100.0,66970.00,30,2008,46,2341,1295,929,...,621.0,234.0,301.0,574.0,623.0,376.0,60.0,171.0,12.0,both
3,2009.0,3.0,100.0,54967.05,30,2009,46,1450,772,515,...,380.0,177.0,160.0,359.0,376.0,169.0,39.0,54.0,1.0,both
4,2011.0,0.0,100.0,119595.00,30,2011,45,1113,829,368,...,251.0,360.0,167.0,415.0,390.0,59.0,29.0,30.0,5.0,both

In [53]:
map1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 0 to 1333
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   srprec_orig      1334 non-null   float64
 1   subindex         1334 non-null   float64
 2   pctsrprec_tract  1334 non-null   float64
 3   hh_med_inc_wgt   1334 non-null   float64
 4   county           1334 non-null   int64
 5   srprec           1334 non-null   int64
 6   cddist           1334 non-null   int64
 7   TOTREG           1334 non-null   int64
 8   TOTVOTE          1334 non-null   int64
 9   CNGDEM01         1334 non-null   int64
 10  CNGREP01         1334 non-null   int64
 11  election         1334 non-null   object
 12  totreg_r         1334 non-null   float64
 13  dem              1334 non-null   float64
 14  rep              1334 non-null   float64
 15  dcl              1334 non-null   float64
 16  male             1334 non-null   float64
 17  female           1334 non-null   float64
 18  hispdem          1334 non-null   float64
 19  hisprep          1334 non-null   float64
 20  hispdcl          1334 non-null   float64
 21  hispoth          1334 non-null   float64
 22  _merge           1334 non-null   category
dtypes: category(1), float64(14), int64(7), object(1)
memory usage: 241.0+ KB

In [56]:
map1 = map1[['srprec_orig', 'hh_med_inc_wgt']]

In [57]:
map1['srprec_orig'] = map1['srprec_orig'].astype('int')

In [58]:
map1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 0 to 1333
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   srprec_orig     1334 non-null   int64
 1   hh_med_inc_wgt  1334 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 31.3 KB

In [60]:
map1['srprec_orig'] = map1['srprec_orig'].astype('string')

In [61]:
map1.head()

  srprec_orig  hh_med_inc_wgt
0        2001        54480.48
1        2002        44136.00
2        2008        66970.00
3        2009        54967.05
4        2011       119595.00

In [62]:
map1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 0 to 1333
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   srprec_orig     1334 non-null   string
 1   hh_med_inc_wgt  1334 non-null   float64
dtypes: float64(1), string(1)
memory usage: 31.3 KB

In [63]:
#Tableau found negative values, prevents creation of bins.  
# look for negative income values

In [64]:
map1.loc[map1['hh_med_inc_wgt'] <= 0]

    srprec_orig  hh_med_inc_wgt
17         2042   -2.251742e+05
31         2095   -6.666667e+08
34         2102   -6.666667e+08
86         2385   -1.020671e+07
96         2429   -4.938274e+06
379       23155   -5.471153e+07

In [65]:
# There are six precincts with negative income, out of 1,334 (<0.5% of rows).
# ok to drop for map-test

In [66]:
map1 = map1.loc[map1['hh_med_inc_wgt'] > 0]

In [67]:
map1.shape

(1328, 2)

In [68]:
map1.head()

  srprec_orig  hh_med_inc_wgt
0        2001        54480.48
1        2002        44136.00
2        2008        66970.00
3        2009        54967.05
4        2011       119595.00

In [69]:
map1.to_csv('./map_files/map1.csv')

In [12]:
# load csv into Tableau ... see if the precincts line up