## 20 Vote Result Trend
### The sheet is for EDA on vote result trends, and underlying factors of those trends

In [1]:
# imports
import pandas as pd
import requests
import pickle as pkl
import matplotlib.pyplot as plt

In [ ]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [35]:
data = pd.read_pickle('./vote_data/merged_OC-c059_g18_by_srprec.pkl')

data.shape

(1334, 225)

In [40]:
data.head(3)

,county,srprec,addist,cddist,sddist,...,oreg6g,oreg7g,oreg8g,oreg9g,_merge
0,30,10316,65,47,29,...,1.0,0.0,0.0,1.0,both
1,30,10317,65,47,29,...,2.0,2.0,4.0,1.0,both
2,30,10319,65,47,29,...,3.0,1.0,2.0,6.0,both

In [37]:
data['cddist'].value_counts()

45    347
48    334
39    226
46    198
47    133
49     87
38      9
Name: cddist, dtype: int64

#### Keep only needed columns:
- county
- srprec
- vote results for Congress
- registration category, including Latinx detail
- gender

In [50]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)
data.groupby('cddist').sum().T

cddist      38       39        45       46       47        48       49
county     270     6780     10410     5940     3990     10020     2610
srprec  101298  3448485  18979617  6811758  2701624  14625009  4286801
addist     585    13603     24388    13432     9125     24428     6351
sddist     261     6741     12749     6484     4242     11952     3132
bedist      36      904      1388      792      532      1336      348
...        ...      ...       ...      ...      ...       ...      ...
oreg5g      13      265       511      232      198       596      182
oreg6g      15      304       584      260      169       599      206
oreg7g       3      109       191       85       65       195       54
oreg8g      13      212       395      159      146       480      128
oreg9g      15      623      1125      433      408      1257      306

[221 rows x 7 columns]

In [52]:
trend_cols = ['county',
 'srprec',
 'cddist',
 'TOTREG',
 'TOTVOTE',
 'CNGDEM01',
 'CNGREP01',
 'election',
 'type',
 'totreg_r',
 'dem',
 'rep',
 'aip',
 'paf',
 'msc',
 'lib',
 'nlp',
 'grn',
 'ref',
 'dcl',
 'male',
 'female',
 'hispdem',
 'hisprep',
 'hispdcl',
 'hispoth']

In [54]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', None)
trend = data[trend_cols]
trend.groupby('cddist').sum().T

cddist        38       39        45       46       47        48       49
county       270     6780     10410     5940     3990     10020     2610
srprec    101298  3448485  18979617  6811758  2701624  14625009  4286801
TOTREG      8186   228171    419912   255894   137733    407516   101571
TOTVOTE     5809   162124    312696   154134    90592    303968    77391
CNGDEM01    2990    78059    158904   102276    46241    157834    35124
CNGREP01    2587    80122    146382    45638    40085    136898    40323
totreg_r    5639   156814    302449   145985    87290    293939    74973
dem         2127    53564     96868    71973    31924     93342    20707
rep         2031    64023    119561    36876    31874    120452    34682
aip          109     3463      6919     2749     1913      7373     2131
paf            9      198       348      341      186       377       77
msc            9      210       382      209      133       392      116
lib           31     1125      2414      975      615      2578      632
nlp            1       32        59       25       23        79       12
grn            6      410       756      459      227       902      214
ref            1       99       134       61       49       169       47
dcl         1315    33690     75008    32317    20346     68275    16355
male        2894    76824    150934    70965    44012    145286    36554
female      2745    79994    151524    75040    43283    148668    38421
hispdem      393    18106     15421    41174     8983     14128     2874
hisprep      216     7840      8600     7064     3121      6723     1827
hispdcl      205     7576      8640    13423     3552      7130     1636
hispoth       29     1230      1255     1645      525      1150      318

In [56]:
trend.shape

(1334, 26)

In [60]:
summary = trend.groupby('cddist').sum().T
summary.shape

(23, 7)

In [61]:
summary

cddist        38       39        45       46       47        48       49
county       270     6780     10410     5940     3990     10020     2610
srprec    101298  3448485  18979617  6811758  2701624  14625009  4286801
TOTREG      8186   228171    419912   255894   137733    407516   101571
TOTVOTE     5809   162124    312696   154134    90592    303968    77391
CNGDEM01    2990    78059    158904   102276    46241    157834    35124
CNGREP01    2587    80122    146382    45638    40085    136898    40323
totreg_r    5639   156814    302449   145985    87290    293939    74973
dem         2127    53564     96868    71973    31924     93342    20707
rep         2031    64023    119561    36876    31874    120452    34682
aip          109     3463      6919     2749     1913      7373     2131
paf            9      198       348      341      186       377       77
msc            9      210       382      209      133       392      116
lib           31     1125      2414      975      615      2578      632
nlp            1       32        59       25       23        79       12
grn            6      410       756      459      227       902      214
ref            1       99       134       61       49       169       47
dcl         1315    33690     75008    32317    20346     68275    16355
male        2894    76824    150934    70965    44012    145286    36554
female      2745    79994    151524    75040    43283    148668    38421
hispdem      393    18106     15421    41174     8983     14128     2874
hisprep      216     7840      8600     7064     3121      6723     1827
hispdcl      205     7576      8640    13423     3552      7130     1636
hispoth       29     1230      1255     1645      525      1150      318