## This notebook handles mapping srprec to census tract, and then adding on census data

In [119]:
# imports
import pandas as pd
import numpy as np
import requests
import pickle as pkl
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [91]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [92]:
data18 = pd.read_pickle('./data/trend18.pkl')
data18.shape

(1334, 26)

In [93]:
data18.head()

,county,srprec,cddist,TOTREG,TOTVOTE,CNGDEM01,CNGREP01,election,type,totreg_r,...,nlp,grn,ref,dcl,male,female,hispdem,hisprep,hispdcl,hispoth
0,30,10316,47,1735,1278,630,592,g18,V,1238.0,...,0.0,2.0,0.0,265.0,582.0,656.0,55.0,43.0,30.0,6.0
1,30,10317,47,2079,1214,638,513,g18,V,1184.0,...,0.0,4.0,0.0,286.0,588.0,596.0,165.0,60.0,71.0,10.0
2,30,10319,47,1448,999,495,462,g18,V,945.0,...,0.0,2.0,2.0,256.0,443.0,502.0,68.0,37.0,49.0,5.0
3,30,10320,47,2407,1686,847,758,g18,V,1644.0,...,0.0,5.0,1.0,423.0,851.0,793.0,79.0,57.0,47.0,7.0
4,30,10325,47,1465,1035,488,524,g18,V,1012.0,...,0.0,2.0,1.0,189.0,488.0,524.0,67.0,38.0,18.0,1.0

In [145]:
data18['cddist'].value_counts()

45    347
48    334
39    226
46    198
47    133
49     87
38      9
Name: cddist, dtype: int64

### Select census data

Voting data contains 'srprec' or voting precints.  
Statewidedatabase.org provides conversion tables between precints and census tracts.

Bring in census DP03 data and select columns.

In [51]:
dp03_18 = pd.read_pickle('./census_data/DP03_clean.pkl')
dp03_18.shape

(583, 143)

In [69]:
dp03_18.head(2)

,Geographic Area Name,GEO_ID,Estimate EMPLOYMENT STATUS Population 16 years and over,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Employed,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Unemployed,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Armed Forces,Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force,Estimate EMPLOYMENT STATUS Civilian labor force,...,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people Under 18 years Related children of the householder under 18 years Related children of the householder 5 to 17 years,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people 18 years and over,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people 18 years and over 18 to 64 years,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people 18 years and over 65 years and over,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL People in families,Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL Unrelated individuals 15 years and over,Geographic Area Name,state,county,tract
1,"Census Tract 626.44, Orange County, California",1400000US06059062644,6767,3967,3967,3811,156,0,2800,3967,...,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,"Census Tract 626.44, Orange County, California",06,059,062644
2,"Census Tract 626.40, Orange County, California",1400000US06059062640,3062,2446,2436,2320,116,10,616,2436,...,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,-888888888.0,"Census Tract 626.40, Orange County, California",06,059,062640

In [53]:
dp03_18['Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)'].describe()

count            583
unique           574
top       -666666666
freq               3
Name: Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars), dtype: object

In [38]:
dp03_18.columns.tolist()

['Geographic Area Name',
 'GEO_ID',
 'Estimate EMPLOYMENT STATUS Population 16 years and over',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Employed',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Civilian labor force Unemployed',
 'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force Armed Forces',
 'Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force',
 'Estimate EMPLOYMENT STATUS Civilian labor force',
 'Estimate EMPLOYMENT STATUS Civilian labor force Unemployment Rate',
 'Estimate EMPLOYMENT STATUS Females 16 years and over',
 'Estimate EMPLOYMENT STATUS Females 16 years and over In labor force',
 'Estimate EMPLOYMENT STATUS Females 16 years and over In labor force Civilian labor force',
 'Estimate EMPLOYMENT STATUS Females 16 years and over In labor force Civilian labor force Employed',
 'Estimate EMPLOYMENT STATUS Own children of the householder under 6 years',
 'Estimate EMPLOYMENT STATUS Own children of the householder under 6 years All parents in family in labor force',
 'Estimate EMPLOYMENT STATUS Own children of the householder 6 to 17 years',
 'Estimate EMPLOYMENT STATUS Own children of the householder 6 to 17 years All parents in family in labor force',
 'Estimate COMMUTING TO WORK Workers 16 years and over',
 'Estimate COMMUTING TO WORK Workers 16 years and over Car, truck, or van -- drove alone',
 'Estimate COMMUTING TO WORK Workers 16 years and over Car, truck, or van -- carpooled',
 'Estimate COMMUTING TO WORK Workers 16 years and over Public transportation (excluding taxicab)',
 'Estimate COMMUTING TO WORK Workers 16 years and over Walked',
 'Estimate COMMUTING TO WORK Workers 16 years and over Other means',
 'Estimate COMMUTING TO WORK Workers 16 years and over Worked at home',
 'Estimate COMMUTING TO WORK Workers 16 years and over Mean travel time to work (minutes)',
 'Estimate OCCUPATION Civilian employed population 16 years and over',
 'Estimate OCCUPATION Civilian employed population 16 years and over Management, business, science, and arts occupations',
 'Estimate OCCUPATION Civilian employed population 16 years and over Service occupations',
 'Estimate OCCUPATION Civilian employed population 16 years and over Sales and office occupations',
 'Estimate OCCUPATION Civilian employed population 16 years and over Natural resources, construction, and maintenance occupations',
 'Estimate OCCUPATION Civilian employed population 16 years and over Production, transportation, and material moving occupations',
 'Estimate INDUSTRY Civilian employed population 16 years and over',
 'Estimate INDUSTRY Civilian employed population 16 years and over Agriculture, forestry, fishing and hunting, and mining',
 'Estimate INDUSTRY Civilian employed population 16 years and over Construction',
 'Estimate INDUSTRY Civilian employed population 16 years and over Manufacturing',
 'Estimate INDUSTRY Civilian employed population 16 years and over Wholesale trade',
 'Estimate INDUSTRY Civilian employed population 16 years and over Retail trade',
 'Estimate INDUSTRY Civilian employed population 16 years and over Transportation and warehousing, and utilities',
 'Estimate INDUSTRY Civilian employed population 16 years and over Information',
 'Estimate INDUSTRY Civilian employed population 16 years and over Finance and insurance, and real estate and rental and leasing',
 'Estimate INDUSTRY Civilian employed population 16 years and over Professional, scientific, and management, and administrative and waste management services',
 'Estimate INDUSTRY Civilian employed population 16 years and over Educational services, and health care and social assistance',
 'Estimate INDUSTRY Civilian employed population 16 years and over Arts, entertainment, and recreation, and accommodation and food services',
 'Estimate INDUSTRY Civilian employed population 16 years and over Other services, except public administration',
 'Estimate INDUSTRY Civilian employed population 16 years and over Public administration',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over Private wage and salary workers',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over Government workers',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over Self-employed in own not incorporated business workers',
 'Estimate CLASS OF WORKER Civilian employed population 16 years and over Unpaid family workers',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Less than $10,000',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $10,000 to $14,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $15,000 to $24,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $25,000 to $34,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $35,000 to $49,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $50,000 to $74,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $75,000 to $99,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $100,000 to $149,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $150,000 to $199,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households $200,000 or more',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Mean household income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With earnings',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With earnings Mean earnings (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Social Security',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Social Security Mean Social Security income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With retirement income',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With retirement income Mean retirement income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Supplemental Security Income',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Supplemental Security Income Mean Supplemental Security Income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With cash public assistance income',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With cash public assistance income Mean cash public assistance income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households With Food Stamp/SNAP benefits in the past 12 months',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Less than $10,000',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $10,000 to $14,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $15,000 to $24,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $25,000 to $34,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $35,000 to $49,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $50,000 to $74,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $75,000 to $99,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $100,000 to $149,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $150,000 to $199,999',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families $200,000 or more',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Median family income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Families Mean family income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Per capita income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Nonfamily households',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Nonfamily households Median nonfamily income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Nonfamily households Mean nonfamily income (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for workers (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for male full-time, year-round workers (dollars)',
 'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Median earnings for female full-time, year-round workers (dollars)',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage With private health insurance',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population With health insurance coverage With public coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population No health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population under 19 years',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population under 19 years No health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed With health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed With health insurance coverage With private health insurance',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed With health insurance coverage With public coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Employed No health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With private health insurance',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed With health insurance coverage With public coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years In labor force Unemployed No health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With private health insurance',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force With health insurance coverage With public coverage',
 'Estimate HEALTH INSURANCE COVERAGE Civilian noninstitutionalized population Civilian noninstitutionalized population 19 to 64 years Not in labor force No health insurance coverage',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All families',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All families With related children of the householder under 18 years',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All families With related children of the householder under 18 years With related children of the householder under 5 years only',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL Married couple families',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL Married couple families With related children of the householder under 18 years',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL Married couple families With related children of the householder under 18 years With related children of the householder under 5 years only',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL Families with female householder, no husband present',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL Families with female householder, no husband present With related children of the householder under 18 years',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL Families with female householder, no husband present With related children of the householder under 18 years With related children of the householder under 5 years only',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people Under 18 years',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people Under 18 years Related children of the householder under 18 years',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people Under 18 years Related children of the householder under 18 years Related children of the householder under 5 years',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people Under 18 years Related children of the householder under 18 years Related children of the householder 5 to 17 years',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people 18 years and over',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people 18 years and over 18 to 64 years',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL All people 18 years and over 65 years and over',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL People in families',
 'Estimate PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL Unrelated individuals 15 years and over',
 'Geographic Area Name',
 'state',
 'county',
 'tract']

In [54]:
dp03_cols = ['Geographic Area Name',
             'GEO_ID',
             'tract',
             'Estimate EMPLOYMENT STATUS Population 16 years and over',
             'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force',
             'Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force', 
             'Estimate OCCUPATION Civilian employed population 16 years and over Management, business, science, and arts occupations',
             'Estimate OCCUPATION Civilian employed population 16 years and over Service occupations',
             'Estimate OCCUPATION Civilian employed population 16 years and over Sales and office occupations',
             'Estimate OCCUPATION Civilian employed population 16 years and over Natural resources, construction, and maintenance occupations',
             'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)'
            ]

In [55]:
dp03_18sub = dp03_18[dp03_cols]

In [68]:
dp03_18sub.head(2)

,Geographic Area Name,Geographic Area Name,GEO_ID,tract,Estimate EMPLOYMENT STATUS Population 16 years and over,Estimate EMPLOYMENT STATUS Population 16 years and over In labor force,Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force,"Estimate OCCUPATION Civilian employed population 16 years and over Management, business, science, and arts occupations",Estimate OCCUPATION Civilian employed population 16 years and over Service occupations,Estimate OCCUPATION Civilian employed population 16 years and over Sales and office occupations,"Estimate OCCUPATION Civilian employed population 16 years and over Natural resources, construction, and maintenance occupations",Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)
1,"Census Tract 626.44, Orange County, California","Census Tract 626.44, Orange County, California",1400000US06059062644,062644,6767,3967,2800,2547,262,819,91,146953
2,"Census Tract 626.40, Orange County, California","Census Tract 626.40, Orange County, California",1400000US06059062640,062640,3062,2446,616,1202,287,563,63,84632

In [60]:
dp03_18sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583 entries, 1 to 583
Data columns (total 12 columns):
 #   Column                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                           --------------  -----
 0   Geographic Area Name                                                                                                             583 non-null    object
 1   Geographic Area Name                                                                                                             583 non-null    object
 2   GEO_ID                                                                                                                           583 non-null    object
 3   tract                                                                                                                            583 non-null    object
 4   Estimate EMPLOYMENT STATUS Population 16 years and over                                                                          583 non-null    object
 5   Estimate EMPLOYMENT STATUS Population 16 years and over In labor force                                                           583 non-null    object
 6   Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force                                                       583 non-null    object
 7   Estimate OCCUPATION Civilian employed population 16 years and over Management, business, science, and arts occupations           583 non-null    object
 8   Estimate OCCUPATION Civilian employed population 16 years and over Service occupations                                           583 non-null    object
 9   Estimate OCCUPATION Civilian employed population 16 years and over Sales and office occupations                                  583 non-null    object
 10  Estimate OCCUPATION Civilian employed population 16 years and over Natural resources, construction, and maintenance occupations  583 non-null    object
 11  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)             583 non-null    object
dtypes: object(12)
memory usage: 59.2+ KB

In [58]:
num_cols = ['Estimate EMPLOYMENT STATUS Population 16 years and over',
             'Estimate EMPLOYMENT STATUS Population 16 years and over In labor force',
             'Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force', 
             'Estimate OCCUPATION Civilian employed population 16 years and over Management, business, science, and arts occupations',
             'Estimate OCCUPATION Civilian employed population 16 years and over Service occupations',
             'Estimate OCCUPATION Civilian employed population 16 years and over Sales and office occupations',
             'Estimate OCCUPATION Civilian employed population 16 years and over Natural resources, construction, and maintenance occupations',
             'Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)']

In [65]:
for col in num_cols:
    dp03_18sub[col] = pd.to_numeric(dp03_18sub[col])

# will generate a warning (not an error) about making a change a copy of a slide of a dataframe.  
# we will just proceed.

<ipython-input-65-41ea6c34ecb4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dp03_18sub[col] = pd.to_numeric(dp03_18sub[col])

In [95]:
dp03_18sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583 entries, 1 to 583
Data columns (total 12 columns):
 #   Column                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                           --------------  -----
 0   Geographic Area Name                                                                                                             583 non-null    object
 1   Geographic Area Name                                                                                                             583 non-null    object
 2   GEO_ID                                                                                                                           583 non-null    object
 3   tract                                                                                                                            583 non-null    object
 4   Estimate EMPLOYMENT STATUS Population 16 years and over                                                                          583 non-null    int64
 5   Estimate EMPLOYMENT STATUS Population 16 years and over In labor force                                                           583 non-null    int64
 6   Estimate EMPLOYMENT STATUS Population 16 years and over Not in labor force                                                       583 non-null    int64
 7   Estimate OCCUPATION Civilian employed population 16 years and over Management, business, science, and arts occupations           583 non-null    int64
 8   Estimate OCCUPATION Civilian employed population 16 years and over Service occupations                                           583 non-null    int64
 9   Estimate OCCUPATION Civilian employed population 16 years and over Sales and office occupations                                  583 non-null    int64
 10  Estimate OCCUPATION Civilian employed population 16 years and over Natural resources, construction, and maintenance occupations  583 non-null    int64
 11  Estimate INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS) Total households Median household income (dollars)             583 non-null    int64
dtypes: int64(8), object(4)
memory usage: 59.2+ KB

In [77]:
dp03_18sub['tract'].value_counts()

086404    1
099229    1
063702    1
110202    1
063202    1
         ..
099602    1
021913    1
032045    1
001403    1
042103    1
Name: tract, Length: 583, dtype: int64

### Conversion file:  srprec < > census tract

In [147]:
# from Statewidedatabase.org
# https://statewidedatabase.org/d10/g18_geo_conv.html
# Orange County, right column, download 'SRPREC TO 2010 BLK' csv option.
# url:  https://statewidedatabase.org/pub/data/G18/c059/c059_g18_sr_blk_map.csv

convert18 = pd.read_csv('./map_files/c059_g18_sr_blk_map.csv')
convert18.shape

(22985, 8)

In [96]:
convert18.head()

    srprec   tract  block  blkreg  srtotreg  pctsrprec  blktotreg      pctblk
0      NaN       0      0      20       NaN        NaN         20  100.000000
1  10316.0  110106   2000      11    1720.0   0.639535         11  100.000000
2  10316.0  110106   2001      15    1720.0   0.872093         15  100.000000
3  10316.0  110106   2002      62    1720.0   3.604651         62  100.000000
4  10316.0  110106   2003      10    1720.0   0.581395         21   47.619048

In [75]:
convert18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22985 entries, 0 to 22984
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   srprec     22984 non-null  float64
 1   tract      22985 non-null  int64
 2   block      22985 non-null  int64
 3   blkreg     22985 non-null  int64
 4   srtotreg   22984 non-null  float64
 5   pctsrprec  22984 non-null  float64
 6   blktotreg  22985 non-null  int64
 7   pctblk     22985 non-null  float64
dtypes: float64(4), int64(4)
memory usage: 1.4 MB

In [79]:
convert18['tract'].nunique()

583

In [148]:
convert18['srprec'].nunique()

1334

In [81]:
convert18.groupby('tract').count()

        srprec  block  blkreg  srtotreg  pctsrprec  blktotreg  pctblk
tract
0            0      1       1         0          0          1       1
1101        66     66      66        66         66         66      66
1102        35     35      35        35         35         35      35
1103        33     33      33        33         33         33      33
1201        37     37      37        37         37         37      37
...        ...    ...     ...       ...        ...        ...     ...
110604      87     87      87        87         87         87      87
110605      43     43      43        43         43         43      43
110606      20     20      20        20         20         20      20
110607      30     30      30        30         30         30      30
980000       6      6       6         6          6          6       6

[583 rows x 7 columns]

In [85]:
# pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
convert18.groupby('srprec').count()

         tract  block  blkreg  srtotreg  pctsrprec  blktotreg  pctblk
srprec
2001.0      31     31      31        31         31         31      31
2002.0       7      7       7         7          7          7       7
2008.0      32     32      32        32         32         32      32
2009.0      28     28      28        28         28         28      28
2011.0      14     14      14        14         14         14      14
...        ...    ...     ...       ...        ...        ...     ...
75116.0     18     18      18        18         18         18      18
75117.0      2      2       2         2          2          2       2
75122.0      3      3       3         3          3          3       3
75701.0      9      9       9         9          9          9       9
75702.0     24     24      24        24         24         24      24

[1334 rows x 7 columns]

In [88]:
convert18.loc[convert18['srprec'] == 75117.0]

        srprec  tract  block  blkreg  srtotreg  pctsrprec  blktotreg  pctblk
22942  75117.0  75810   1006      64      99.0  64.646465         64   100.0
22943  75117.0  75810   1016      35      99.0  35.353535         35   100.0

In [89]:
convert18.loc[convert18['tract'] == 110106]

,srprec,tract,block,blkreg,srtotreg,pctsrprec,blktotreg,pctblk
1,10316.0,110106,2000,11,1720.0,0.639535,11,100.000000
2,10316.0,110106,2001,15,1720.0,0.872093,15,100.000000
3,10316.0,110106,2002,62,1720.0,3.604651,62,100.000000
4,10316.0,110106,2003,10,1720.0,0.581395,21,47.619048
5,10316.0,110106,2009,6,1720.0,0.348837,45,13.333333
...,...,...,...,...,...,...,...,...
333,10701.0,110106,3014,56,1582.0,3.539823,56,100.000000
334,10701.0,110106,3015,30,1582.0,1.896334,30,100.000000
335,10701.0,110106,3016,60,1582.0,3.792668,60,100.000000
336,10701.0,110106,3017,76,1582.0,4.804046,76,100.000000
337,10701.0,110106,3028,6,1582.0,0.379267,6,100.000000

In [150]:
data18['srprec'].sort_values()

179      2001
180      2002
181      2008
182      2009
183      2011
        ...
1540    75116
1541    75117
1542    75122
1543    75701
1544    75702
Name: srprec, Length: 1334, dtype: Int64

In [166]:
convert18.loc[convert18['srprec'] == 2001]['tract'].unique()

array([11602, 86501, 86502])

In [160]:
convert18.loc[convert18['tract'] == 11602]['srprec'].unique()

array([13031., 13043., 13701.,  2001.,  2117.,  2409.])

In [178]:
t = convert18.groupby('srprec').sum()
t.head(3)

          tract  block  blkreg  srtotreg  pctsrprec  blktotreg  pctblk
srprec
2001.0  1183559  50994     679   21049.0      100.0        679  3100.0
2002.0    82040  11039     291    2037.0      100.0        291   700.0
2008.0  2774464  70230    2304   73728.0      100.0       2304  3200.0

In [179]:
t.loc[t['pctsrprec'] > 100]

Empty DataFrame
Columns: [tract, block, blkreg, srtotreg, pctsrprec, blktotreg, pctblk]
Index: []

In [180]:
t['pctsrprec'].sort_values()

srprec
53073.0    100.0
53084.0    100.0
2193.0     100.0
44142.0    100.0
44138.0    100.0
           ...
47247.0    100.0
53145.0    100.0
23163.0    100.0
2242.0     100.0
48258.0    100.0
Name: pctsrprec, Length: 1334, dtype: float64

### shape file for precincts

In [106]:
# shape18 = pd.read_csv('./map_files/srprec_059_g18_v01_srprec_059_g18_v01.shp.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [ ]:
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte
# to resolve:  https://stackoverflow.com/questions/42339876/error-unicodedecodeerror-utf-8-codec-cant-decode-byte-0xff-in-position-0-in

In [107]:
with open('./map_files/srprec_059_g18_v01_srprec_059_g18_v01.shp.csv', 'rb') as f:
  contents = f.read()

In [111]:
type(contents)
# binary file, don't know how to put into DataFrame

bytes

In [ ]:
shape18.shape

In [112]:
with open('./map_files/srprec_059_g18_v01_srprec_059_g18_v01.shp.csv', encoding="utf8", errors='ignore') as f:
    contents = f.read()

In [125]:
type(contents)

str

In [122]:
file = pd.DataFrame(data=contents, columns=['srprec', 'geometry'], dtype=np.int8)

ValueError: DataFrame constructor not properly called!

In [126]:
with open('./map_files/srprec_059_g18_v01_srprec_059_g18_v01.shp.csv','rb') as f:
    contents = f.read()
contents = contents.rstrip("\n").decode("utf-16")
contents = contents.split("\r\n")

TypeError: a bytes-like object is required, not 'str'

In [131]:
#hope springs eternal
#stack:  https://stackoverflow.com/questions/55112771/read-shapefiles-into-dataframe

Requirement already satisfied: geopandas in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (0.8.1)
Requirement already satisfied: pyproj>=2.2.0 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (2.6.1.post1)
Requirement already satisfied: fiona in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.8.17)
Requirement already satisfied: shapely in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.23.0 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.1.3)
Requirement already satisfied: click-plugins>=1.0 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: click<8,>=4.0 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: cligj>=0.5 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: munch in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: six>=1.7 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (20.2.0)
Requirement already satisfied: pytz>=2017.2 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/nevochka/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (1.19.1)

In [142]:
import pandas as pd
import shapefile
import geopandas     #https://geopandas.org/install.html
import fiona; help(fiona.open)

ModuleNotFoundError: No module named 'shapefile'

In [138]:
geopandas.read_file('./map_files/srprec_059_g18_v01_srprec_059_g18_v01.shp.csv')

NameError: name 'geopandas' is not defined

In [127]:
sf_path = r'./map_files/srprec_059_g18_v01_srprec_059_g18_v01.shp.csv'
sf = shapefile.Reader(sf_path, encoding = 'Shift-JIS')

fields = [x[0] for x in sf.fields][1:]
records = sf.records()
shps = [s.points for s in sf.shapes()]

sf_df = pd.DataFrame(columns = fields, data = records)

ModuleNotFoundError: No module named 'shapefile'

#### compare conversion fields

In [98]:
data18[['srprec', 'cddist']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 0 to 1545
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   srprec  1334 non-null   Int64
 1   cddist  1334 non-null   int64
dtypes: Int64(1), int64(1)
memory usage: 32.6 KB

In [100]:
convert18[['srprec', 'tract', 'block']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22985 entries, 0 to 22984
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   srprec  22984 non-null  float64
 1   tract   22985 non-null  int64
 2   block   22985 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 538.8 KB

In [104]:
dp03_18sub[['tract']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583 entries, 1 to 583
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tract   583 non-null    object
dtypes: object(1)
memory usage: 9.1+ KB